<!-- About Section -->
<section id="about" class="container content-section">
    <div style="width:30%;float:left;">
        <img src="../img/juyoung.jpg" class="rounded" style="height:60%;width:100%;position:relative;left:30px;top:65px;">
    </div>
    <div class="row" style="height:100%;padding: 5%; width: 60%; float: right; ">
        <h2>Ju Young Bang</h2>
        <div class="col-lg-8 col-lg-offset-2">
            <p>Hello and welcome to my homepage!</p>
            <p>My name is <b>Ju Young Bang</b> and I'm a graduate student at UNIST.</p>
            <p>For further help, contact me via email or visit my office at UNIST 106-605.</p>
        </div>
    </div>
</section>
