<!-- About Section -->
<section id="about" class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <img src="../img/juyoung.jpg" class="img-responsive" style="max-width: center; height: 450px;">
            </div>
            <div class="col-sm-6" style="padding-top: 5%;">
                <h2>Juyoung Bang</h2>
                <br />
                <div style="font-size:130%; font-weight:lighter">
                    <p>Hello and welcome to my homepage!</p>
                    <p>I'm a graduate student studying computer science at UNIST.</p>
                    <p>For further help, contact me via email or visit my office.</p>
                    <br />
                    <p>Email: juyoungbang@unist.ac.kr</p>
                    <p>Office: UNIST Engineering Building 106, Room 605</p>
                </div>
            </div>
        </div>
    </div>
</section>
