    <!-- About Section -->
<section id="career" class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>Career</h2>
                <br />
                <ul style="font-size:18px; font-weight:lighter">
                    <li>
                        <a href="https://www.qraftec.com/" target="_blank">Qraft Technologies</a> (Aug. 2018 - Jan. 2019)
                        <p style="font-size:15px;">Robo-Advisory Solution Developer</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
