    <!-- About Section -->
<section id="career">
    <div class="content-section-a">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Career</h2>
                <br />
                <ul>
                    <li>
                        <p style="font-size:130%;"><a href="https://www.qraftec.com/" target="_blank">Qraft Technologies</a> (Aug. 2018 - Jan. 2019)</p>
                        <p style="font-size:100%;">Robo-Advisory Solution Developer</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
