    <!-- About Section -->
<section id="education">
    <div class="content-section-b">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2" style="padding:0%5%;">
                <h2>Education</h2>
                <br />
                <ul style="font-size:18px;">
                    <li>B.S in Computer Science Engineering, UNIST, Ulsan, South Korea (Mar. 2016 - Feb. 2021)</li>
                    <li>B.S in Industrial Engineering, UNIST, Ulsan, South Korea (Mar. 2016 - Feb. 2021)</li>
                    <li>
                        M.S in Computer Science and Engineering, UNIST, Ulsan, South Korea (Mar. 2021 - Current)
                        <p style="font-size:15px"><a href="https://ychoi.unist.ac.kr/home" target="_blank">System Software Laboratory</a> (Advisor: Prof. Young-ri Choi)</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
