    <!-- About Section -->
<section id="education" class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Education</h2>
                <br />
                <ul style="font-size:18px;">
                    <li>B.S in Computer Science and Engineering (Major), UNIST, South Korea (Mar. 2016 - Feb. 2021)</li>
                    <li>B.S in Management Engineering (Minor), UNIST, South Korea (Mar. 2016 - Feb. 2021)</li>
                    <li>
                        M.S in Computer Science and Engineering, UNIST, South Korea (Mar. 2021 - Current)
                        <p style="font-size:15px"><a href="https://ychoi.unist.ac.kr/home" target="_blank">System Software Laboratory</a> (Advisor: Prof. Young-ri Choi)</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
