    <!-- About Section -->
<section id="interest" class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>Interest</h2>
                <br />
                <ul style="font-size:18px; font-weight:lighter">
                    <li>Key-Value Store</li>
                    <li>Indexing Structure</li>
                    <li>Distributed Storage System</li>
                    <li>Memory Disaggregated Environment</li>
                </ul>
            </div>
        </div>
    </div>
</section>
