    <!-- About Section -->
<section id="interest">
    <div class="content-section-b">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Interest</h2>
                <br />
                <ul style="font-size:130%;">
                    <li>Storage system</li>
                    <li>Index structure</li>
                    <li>Resource Management</li>
                    <li>Cloud Computing</li>
                </ul>
            </div>
        </div>
    </div>
</section>
