    <!-- About Section -->
    <section id="open_source" class="content-section-a">
      <div class="container">
          <div class="row">
              <div class="col-sm-12">
                  <h2>Open Source Contribution</h2>
                  <br />
                  <ul style="font-size:18px; font-weight:lighter">
                    <li>
                      <a href="https://github.com/dmemsys/CHIME" target="_blank">CHIME</a>
                      <p style="font-size:15px">Fixed memory leak while handling index cache entries</p>
                    </li>
                  </ul>
              </div>
          </div>
      </div>
  </section>
  