    <!-- About Section -->
<section id="publication" class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Publication</h2>
                <br />
                <ul style="font-size:18px;">
                    <li>Heejin Yoon, Jin Yang, <strong>Juyoung Bang</strong>, Sam H. Noh and Young-ri Choi, Advocating for Key-Value Stores with Workload Pattern Aware Dynamic Compaction (HotStorage '24)</li>
                </ul>
            </div>
        </div>
    </div>
</section>
