    <!-- About Section -->
<section id="publication" class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>Publication</h2>
                <br />
                <ul style="font-size:18px; font-weight:lighter">
                    <li>
                        Heejin Yoon, Jin Yang, <u>Juyoung Bang</u>, Sam H. Noh and Young-ri Choi, <b>Advocating for Key-Value Stores with Workload Pattern Aware Dynamic Compaction</b>, Proceedings of the 16th ACM Workshop on Hot Topics in Storage and File Systems (HotStorage '24) 
                        <a href="https://dl.acm.org/doi/pdf/10.1145/3655038.3665955" target="_blank">[Paper]</a>  
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
